<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   

</head>
<style>
  body{
    background-image: url(../assets/images/IMG_3954.JPG); 
    background-attachment: fixed;
    background-size: 100% 100%;
}
</style>
<body>
  <h2>Background Image</h2>

<p>By default the background image will repeat itself if it is smaller than the element where it is specified, in this case the BODY element.</p>
</body>
</html>