<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono" rel="stylesheet" />
   
</head>

<body>
    
    <main id="content">
        <h1>
            <div class="hex moved"></div><span class="span">Intro</span></h1>
        <div class="subtext" id="main">
            <p>Let's first talk about the <strong><i style="color: red;">Basics</i></strong> which are the building blocks of the math. We will talk about ground level math and deal with things like additions, multiplications, subtractions, divisions among other things.</p>
            <p>Following this there will be a compact explanation and an example regarding the respective topic. So brace yourselves to learn what the whole math is built on top of.</p>
        </div>
        <h2>
            <div class="hex"></div><span>Additions</span></h2>
        <div class="subtext coll">
           <p> Addition is a way to put things together. When you add two amounts, you're counting them together, as one larger amount. Addition happens all the time in real life.</p>
           <p>if you have 4 rabbits and add 4 more, you'll have 8 rabbits in total. You could write it like this: <strong><i style="color:#0088a9;">4 + 4 = 8</i></strong></p>
           <p>4 + 4 = 8 is a mathematical equation. You could read it like this: Four plus four equals eight. A mathematical equation is basically a math sentence. It uses numbers and symbols instead of words. When we write out equations with addition, we use two symbols: + and =.</p>
           <p>The plus sign <strong><i style="color:#0088a9;">(+)</i></strong> means two things are being added together. This is why we put it between the rabbits—we had 4 rabbits and added 4 more.</p>
            <p>The other symbol in our equation is the equals sign (=). When you see the equals sign in an equation, it means two are more things are equal, or equivalent. Things that are equivalent don't always look or seem exactly alike, but they mean the same thing.</p>
            <p>In math, the equals sign shows that two numbers or expressions mean the same thing, even though they might look different. Remember our rabbits? Because there were 8 rabbits total, we wrote 8 to the right of the equals sign. See how each side means 8? There are 8 rabbits on the left, and the number 8 on the right. Both sides are equal.</p>
            <p> we looked at some mathematical expressions. Expressions are useful, since they can help you keep track of the amounts you're adding.
                Any addition problem can be turned into a written expression. For instance, say that you planned to have three friends come over for dinner. At the last minute, you invite two more. To get the total number of friends who are coming to your house, you might write an expression like this:               
                <strong><i style="color:#0088a9;">3 + 2</i></strong></p>               
               <p> The expression is just another way of describing the situation: three friends plus two more are coming over for dinner.</p>
               <p><strong><i style="color:#0088a9;">carry</i></strong></p>
               <p>Some problems need an extra step. For example, let's look at the following problem: 45+59 </p>
               <p>Our first step is to add the digits on the right— 5 and 9. However, you might notice there isn't room to write the sum, 14. When the sum of two digits in a math problem is greater than 9, the normal way of adding stacked numbers won't work. You'll have to use a technique called carrying.</p>
               <p>so, first off add from the right most stack and if the sum is more than 9 throw everything that is on the left side of the units digit to the stack located on the left side of the present stack. This is called carrying</p>
               <p>As you carry, be careful to keep track of the various numbers. If you're writing problems down, be sure to write the carried digits in small print above the column of digits to the left.</p>
               <p><strong><i style="color:#0088a9;">Practice!</i></strong></p>
               <p>
                Practice adding these problems. You'll have to use carrying to solve some of the problems. There are 4 sets of problems with 3 problems each. <br>                
                Set 1
                (25 + 11 =,
                64 + 32 =,
                12 + 16 =) <br>
                Set 2
                (19 + 7 =,
                33 + 29 =,
                65 + 17 =) <br>
                Set 3
                (66 + 54 =,
                99 + 4 =,
                83 + 74 =) <br>
                Set 4
                (323 + 601 =,
                909 + 19 =,
                725 + 75 =)</p>
        </div>
        <h2>
            <div class="hex"></div><span>Subtractions</span></h2>
        <div class="subtext coll">
           <p> Subtraction is taking things away. When you have an amount and you subtract from it, the amount becomes smaller. Subtraction happens a lot in real life.</p>
           <p>
            For instance, imagine we have 8 eggs...
            As we saw, if you have 8 eggs and subtract 3 of them, you'll have 5 eggs left. In other words:
            8 - 3 = 5 
            <strong><i style="color:#0088a9;">8 - 3 = 5</i></strong> is a mathematical equation. You could read it like this: five minus three equals two. As we learned in Introduction to Addition, a mathematical equation is basically a math sentence that uses numbers and symbols. When we write a subtraction equation, we use two symbols: - and =.</p>
           <p> The minus sign <strong><i style="color:#0088a9;">(-)</i></strong> means one thing is being subtracted from another. This is why we put it after the first group of eggs — we had 8 eggs and subtracted 5 of them.</p>
           <p>The other symbol in our equation is the equals sign (=). As we learned in Introduction to Addition, the equals sign means two numbers or expressions are equivalent, or equal. Even though they might look different, they mean the same thing.
            In our eggs example, since 3 eggs were left, we wrote 3 to the right of the equals sign. That shows each side means 3. 3 eggs on the left, and the number 3 on the right. Both sides are equal.</p>
            <p>As you become more comfortable with reading and writing mathematical expressions, you might notice they are useful for seeing the amount you start with and what you're subtracting.
                Any subtraction problem can be turned into a written expression. For instance, let's say your tomato plant has seven tomatoes and you pick four. To figure out the number of tomatoes that are left on the plant, you might write an expression like this:                
                <strong><i style="color:#0088a9;">7 - 4</i></strong>               
                The expression is just another way of describing the situation: seven tomatoes minus four that were picked.</p>
            <p>
                <strong><i style="color:#0088a9;">Practice!</i></strong> </p>
               <p> Practice these subtraction problems. There are 3 sets of problems. Each set has 5 problems. <br>
                
                Set 1
                (3 - 2 =,
                4 - 0 =,
                5 - 1 =,
                2 - 2 =,
                4 - 3 =) <br>
                Set 2
                (6 - 4 =,
                7 - 6 =,
                9 - 3 =,
                4 - 4 =,
                9 - 1 =) <br>
                Set 3
                (10 - 5 =,
                8 - 4 =,
                7 - 3 =,
                9 - 6 =,
                6 - 1 =)
                </p>
                <p>when people solve a subtraction problem with large numbers, they set up the problem in a way that makes it easy to solve one step at a time. Let's see how this works with another problem: 79 - 13.</p>
                <p>firstly stack them up like we did for additions, that stacked subtraction problems are always solved from right to left. The expressions below are solved the same way. First, the bottom right digit is subtracted from the top right digit. Then, the bottom left digit is subtracted from the top left digit.</p>
                <p>Stacked subtraction can also be used for finding the difference of larger numbers. No matter how many digits there are, you subtract the same way every time — from right to left.</p>
                <p><strong><i style="color:#0088a9;">Try This!</i></strong> </p>
                   <p> These subtraction problems have larger numbers. Solve them, and then check your answer by typing it into the box. <br>
                    
                    225 - 100 = <br>
                    199 - 21 = <br>
                    634 - 623 = <br>
                    </p>
                <p><strong><i style="color:#0088a9;">Borrowing</i></strong> </p>
                    <p>Sometimes when you subtract, you will notice that the top digit is smaller than the bottom. For example, take a look at this problem:
                    
                    75 - 29
                    Normally, we'd start on the right with 5 - 9. However, since 9 is bigger than 5, we can't subtract normally. Instead, we have to use a technique called borrowing.
                    
                    Let's see how it works.</p>
                <p>First, we'll make sure the expression is set up correctly. The larger number is stacked on top of the smaller number. As with all stacked subtraction problems, begin with the digits farthest to the right. Here, they are 5 and 9. 5 is smaller than 9, so we'll need to borrow to make 5 larger.</p>
                <p>We'll borrow from the digit to the left of 5. Here, it's 7. We'll take 1 from it....7 - 1 = 6. To help us remember that we subtracted 1, we'll cross out the 7 and write 6 above it. Then, we'll place the 1 we took next to the 5...5 becomes 15. 15 is larger than 9, which means we can subtract. We'll solve for 15 - 9.</p>
                <p>15 - 9 = 6. We'll write 6 beneath the line. Next, find the difference of the digits to the left: 6 - 2.6 - 2 = 4. We'll write 4 beneath the line. Our answer is 46. 75 - 29 = 46.</p>
                <p>As you borrow, always cross out the digit you borrow from and write the new value above it. Remember to always place the 1 next to the smaller digit.</p>
                <p>Sometimes the top number might have two or more digits that are smaller than the digits beneath them. In that case, you'll need to borrow more than once. It will always work the same way. You'll always subtract 1 from the digit to the left and place 1 next to the smaller digit.</p>
                <p><strong><i style="color:#0088a9;">Practice!</i></strong> </p>
                   <p> Practice subtracting these problems. You'll have to use borrowing to solve some of the problems. There are 4 sets of problems with 3 problems each. <br>
                    
                    Set 1
                    (45 - 34 =,
                    22 - 10 =,
                    98 - 63 =) <br>
                    Set 2
                    (15 - 9 =,
                    92 - 68 =,
                    83 - 57 =) <br>
                    Set 3
                    (50 - 25 =,
                    62 - 12 =,
                    98 - 37 =) <br>
                    Set 4
                    (220 - 119 =,
                    115 - 43 =,
                    609 - 210 =)
                    </p>
        </div>
        <h2>
            <div class="hex"></div><span>Multiplications</span></h2>
        <div class="subtext coll">
            An accessibility app for Android, a couple of desktop themes for a blogging platform I casually use, and a photography project detailing the interplay of natural and artifical in urban environments.
        </div>
        
        <h2>
            <div class="hex"></div><span>Divisions</span></h2>
        <div class="subtext coll">
            <a>Twitter</a> | <a>Tumblr</a> | <a>Codepen</a> | <a>Behance</a>
        </div>
        
        <h2>
            <div class="hex"></div><span>Contact Me</span></h2>
        <div class="subtext coll">
            <ul>
                <li>Phone: +91 92 90 44 44 63</li>
                <li>E-mail: <a>tej@yahoo.com</a></li>
                <li>Discord: <a>tej#0313</a></li>
            </ul>
        </div>
    </main>
</body>

</html>