<html>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono" rel="stylesheet" />
   
</head>

<body>
    
    <main id="content">
        <h1>
            <div class="hex moved"></div><span class="span">Contact us</span></h1>
        <div class="subtext" id="main">
            <ul>
                <li>Phone: +91 92 90 44 44 63</li>
                <li>E-mail: <a>mathbuster@yahoo.com</a></li>
                <li>Discord: <a>mathbuster#0313</a></li>
            </ul>
        </div>
        <h2>
            <div class="hex"></div><span>Find us</span></h2>
        <div class="subtext coll">
            <a>Twitter</a> | <a>Tumblr</a> | <a>Codepen</a> | <a>Behance</a>
        </div>
        
    </main>
</body>

</html>