<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="head.component.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a class="logo" href="/"><img src="../../../assets/images/mathbuster.png" alt="logo"></a>
            <nav>
                <ul class="nav__links">
                    <li><button class="mat" mat-button [matMenuTriggerFor]="beforeMenu">Topics</button>
                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                          <button class="matt" mat-menu-item><a href="basics">The Basics</a></button>
                          <button class="matt" mat-menu-item><a href="more">More Basics</a></button>
                        </mat-menu></li>

                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <a class="cta" href="contact">Contact</a>
        </header>


        
    
    </body>
    </html>

