* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
  
  }

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 7%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  .nav__links li button{
    transition: all 0.3s ease 0s;
  }
  .nav__links li button:hover{
    color: #0088a9;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #24252a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .mat{
    margin-left: 20px;
    padding: 0px 20px;
    background-color: #24252a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
  }
.matt a{
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  color: #24252a;
  font-family: "Montserrat", sans-serif;
  background-color:white;
  font-size: medium;
}
.matt a:hover{
  color: #00add8;
}
  .cta:hover {
    background-color: #0088a9;
  }

.matt{
  background-color: white;
}