<html>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono" rel="stylesheet" />
   
</head>

<body>
    
    <main id="content">
        <h1>
            <div class="hex moved"></div><span class="span">About the Devs</span></h1>
        <div class="subtext" id="main">
            <p>Our names are <strong><i style="color: red;">Gourav Tej, Eswar, Preethi, Yamini</i></strong>. We're a 20-year-old South Indian design students with a tech sort of background and a lot to say about the trends and direction of the contemporary design
                world.</p>
            <p>We wanted to be an engineer for most of our life. By the time we changed our mind about that, our liaison with the applied sciences had drastically altered our worldview already. This still informs much of our work and work ethic - design is no less
                of a science in our eyes than physics or computing. (In other words, we like design as long as we can be a nerd about it.)</p>
        </div>
        <h2>
            <div class="hex"></div><span>About the site</span></h2>
        <div class="subtext coll">
            <p>This site is all about <strong><i style="color: #0088a9;">math</i></strong>. We take you through it, right from the basics and some advanced topics with some examples and ample amounts of practice problems. Organised in a good manner, this site is very helpful if you are just starting off with math. Make sure you start from the basics and go up the level. <strong><i style="color: #0088a9;">Enjoy!</i></strong></p>
        </div>
        
    </main>
</body>

</html>