<html>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono" rel="stylesheet" />
   
</head>
<body>
    
    <main id="content">
        <h1>
            <div class="hex moved"></div><span class="span">subscribe!</span></h1>
        <div class="subtext" id="main">
<form action="#" method="post" accept-charset="utf-8" id="subscribe-blog">
    <fieldset>
    <p align="center" class="txt">Subscribe E-mail:<br>
      <input name="email" type="text" size="25" placeholder="Enter your email address" id="subscribe-field" class="txtbox">
      <input type="submit" name="Submit" value="Go" class="button" >
    </p>
    </fieldset>
  </form>
        </div>
    </main>
</body>
</html>
